use nix
source .envrc.secure
source .envrc.api_key
source .envrc.bootstrap
export COLORTERM=1
export DEV_COCKROACH_DATA_PATH=
export DEV_REDIS_DATA_PATH=
export PATH="$HOME/src/github.com/TheThingsIndustries/protoc-gen-fieldmask/dist:${PATH}"
export SENTRY_DSN="https://${SENTRY_LOGIN}:${SENTRY_PASSWORD}@sentry.thethingsindustries.com/5"
export TEMPDIR="/tmp"
export TEST_REDIS=1
export TMPDIR="/tmp"
export TTN_LW_CA="$PWD/cert.pem"
export TTN_LW_GRPC_ALLOW_INSECURE_FOR_CREDENTIALS=true
export TTN_LW_LOG_LEVEL="debug"
# vim: ft=sh
